.news-card {
  min-height: 300px !important;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}

.news-title {
  width: 70%;
}

.news-card p {
  color: black;
  margin: 10px 0px !important;
}

.provider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.provider-name {
  margin-left: 10px;
}

.select-news {
  width: 200px;
}

@media screen and (max-width: 1200px) {
  .news-card {
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .news-card {
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .news-card {
    overflow: hidden;
  }
}
