.news-card {
  min-height: 300px;
}

.news-image-container {
  display: flex;
  justify-content: space-between;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}

.news-title {
  width: 70%;
}

.news-card p {
  color: black;
  margin: 10px 0px;
}

.provider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.provider-name {
  margin-left: 10px;
}

.select-news{
    width: 200px;
}